* {
    margin: 0;
    box-sizing: border-box;
  }
  
.body-login{
    background-image: url("./img/Wallpaper.png");
    background-size: cover;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center{
    background-color: white;
    padding: 40px;
    border-top: 8px solid #59889c;
}